.dashboard-container{
    width:100%;
    display:flex;
}

.side-bar-container{
    width:15%;
    // border:solid 1px black;
}

.calendar-container{
    margin:20px auto;
}

.react-calendar{
    margin:30px auto;
}

.dash-menu-container{
    margin:20px auto;
    width:80%;
    max-width: 200px;
    background-color: rgba(31, 46, 67, 1);
    color:white;
    border-radius: 15px;
    padding:20px;
     box-shadow: 2px 1px 9px  #39393b;

}

.dash-menu-container > ul{
    list-style-type: none;
    text-align: center;
    padding:0;

}

.dash-menu-container > ul >li{
    width:100%;
}

.content-container{
    width:85%;
    flex:85;
    // border:solid 1px black;
    padding:10px;
}

.admin-form-container{
    width:95%;
    margin:20px auto;
    padding:20px;
    padding-bottom:80px;
    background-color: rgba(31, 46, 67, 1);
    box-shadow: 2px 1px 9px  #39393b;
    border-radius: 15px;
}

@media screen and (max-width:800px) {

 
    .dashboard-container{
        flex-flow:column wrap;
    }

    .content-container{
        width:100%;
    }
}